@page "/"
@using HttpClients.Interfaces
@inject IPostHttpClient PostHttpClient
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        @if (posts == null)
                {
                    <p>Loading posts....</p>
                }
                else if (!posts.Any())
                {
                    <p>No Posts to display</p>
                }
                else
                {
                    @foreach (var post in posts)
                    {
                        <Post ForDisplay="post"/>
                    }
                }
    </NotAuthorized>
    <Authorized>
        @if (posts == null)
        {
            <p>Loading posts....</p>
        }
        else if (!posts.Any())
        {
            <p>No Posts to display</p>
        }
        else
        {
            @foreach (var post in posts)
            {
                <Post ForDisplay="post"/>
            }
        }
        
    </Authorized>
</AuthorizeView>

@code
{
    List<Domain.Model.Post> posts = null;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await PostHttpClient.GetPostsAsync();
        }
        catch (Exception e)
        {   
            Console.WriteLine(e);
        }
    }
}
