
    /* Style for the card container and input fields */
.card[b-rr9ztimdz9], .post-box[b-rr9ztimdz9] {
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px;
}

/* Style for the card title and post title */
.card h3[b-rr9ztimdz9], .post-box .title-field[b-rr9ztimdz9] {
    color: #000;
    font-size: 20px;
}

/* Style for input fields and post body */
.form-group.field input[type="text"][b-rr9ztimdz9], .post-box .post-body[b-rr9ztimdz9] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Style for the button */
.button-row button[b-rr9ztimdz9], .post-box .button-row button[b-rr9ztimdz9] {
    background-color: #FF1493;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-row button:hover[b-rr9ztimdz9], .post-box .button-row button:hover[b-rr9ztimdz9] {
    background-color: #FF1168; /* A slightly darker shade for hover effect */
}

/* Style for the username and timestamp in blue */
.post-box .username-field[b-rr9ztimdz9] {
    color: royalblue;
}